[Unit]
Description=Test devRabbit listener service.

[Service]
ExecStart=/bin/bash /usr/bin/bash/devRabbitMQServer.php

[Install]
WantedBy=multi-user.target
