[Unit]
Description=Runs Deployment RabbitMQ Listeners
After=network.target

[Service]
ExecStart=/var/Konsolidate/Categories/Startup/deploymentListeners.sh
Restart=always

[Install]
WantedBy=multi-user.target
