body{
  background: linear-gradient(to left, #43cea2, #185a9d);
  height: 100vh;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}

#title{
  background:#ffff
  opacity: 10;
  padding:2em;
  position:absolute;
  border-radius: 15px;
  top: 200px;
  left:750px;

}
#login{
  background:#fff;
  opacity:1;
  padding:2em;
  position:absolute;
  border-radius: 15px;
  box-shadow: 2px 3px #5f2c82;
  top: 300px;
  left:600px;


}

.content{
  max-width: 3500px;
  max height: 3000px
  padding: 10px:
}
div.test{
  display: flex;
  justify-content: center;
}

#title1{
  opacity: 1;
  position: relative;
  left: 675px;
  top: 260px;


}
#login1{
  background:#fff;
  opacity:1;
  position: relative;
  left:675px

}
